<template>
  <div>
    <phone-filter :phones="phones" :setPhonesList="setPhonesList" />

    <ul v-for="element in phones" :key="element.id" :phone="element">
      <table>
        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Тип соцсети</th>
          <th>Название соцсети</th>
          <th>Телефон</th>
        </tr>
        <phone-row v-for="phone in element" :key="phone.id" :phone="phone"/>
      </table>
    </ul>
  </div>
</template>

<script>
import PhoneRow from "components/phones/PhoneRow.vue";
import PhoneFilter from "components/phones/PhoneFilter.vue";
export default {
  props: ["phones", "setPhonesList"],
  components: {
    PhoneRow,
    PhoneFilter
  },
  data: function() {
    return {
      phone: []
    };
  }
};
</script>
<style>
</style>

