<template> 
  <tr>
    <td>{{phone.name}}</td>
    <td>{{phone.surname}}</td>
    <td>{{phone.typeContact}}</td>
    <td>{{phone.nameContact}}</td>
    <td>{{phone.phone}}</td>
  </tr>
</template>
<script>
export default {
  props: ["phone"]
};
</script>
<style>
</style>
