<template>
  <div>
    <input type="text" placeholder="Enter name" v-model="data.name">
    <input type="text" placeholder="Enter surname" v-model="data.surname">
    <input type="text" readonly="true" placeholder="Don't enter anything">
    <input type="text" placeholder="Enter type of social net" v-model="data.nameContact">
    <input type="text" placeholder="Enter phone" v-model="data.phone">
    <button @click="getPhonesByFilter">Фильтр</button>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["phones", "setPhonesList"],
  data: function() {
    return {
      data: {
        name: "",
        surname: "",
        nameContact: "",
        phone: ""
      }
    };
  },
  methods: {
    getPhonesByFilter() {
      axios({
        method: "POST",
        url: "/api/phone",
        data: this.data
      })
        .then(response => response.data)
        .then(data => this.setPhonesList(data));
    }
  }
};
</script>
<style>
</style>
