<template>
  <div>
    <phones-list :phones="data" :setPhonesList="setPhonesList" id="phonesList"/>
  </div>
</template>

<script>
import PhonesList from "components/phones/PhonesList.vue";
export default {
  components: {
    PhonesList
  },
  data: function() {
    return {
      data: null
    };
  },
  created() {
    fetch("http://localhost:8080/api/phone")
      .then(response => response.json())
      .then(data => (this.data = data));
  },
  methods: {
    setPhonesList: function(list) {
      this.data = list;
    }
  }
};
</script>
<style>
</style>
